* {
    box-sizing: border-box;
}

:root {
    --primary-color: linear-gradient(90deg, #eb9204, #83e868, #83e868, #eb9204);
    --primary-color-blue: #ae8ff9;
    --primary-color-dark-yellow: #ef8f00;
    --primary-color-green: #0cce84;
    --primary-color-dark-orange: #ff7667;
    --text-color-white: #f9f9f9;
    --text-color-gray: #858b93;
    --text-color-dark-blue: #272633;
    --text-color-gray-dark: #282c30;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    background: #131517;
}
::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.3);
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #fff;
}
/* Common */
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

textarea,
label,
input,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
.btn {
    --width: 110px;
    --height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: var(--width);
    height: var(--height);
    border-radius: 8px;
    background: #131517;
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
    line-height: 1.5;
    color: var(--text-color-white);
    background-size: 300% 100%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.btn:hover {
    background-color: #83e868;
}
.btn-outline-primary {
    border: 1px solid var(--text-color-dark-blue);
    color: transparent;
    background-image: var(--primary-color);
    background-image: var(--primary-color);
    background-clip: text;
    -webkit-background-clip: text;
}
.btn-outline-primary:hover {
    border: 1px solid #83e868;
}
.btn-primary {
    background-image: var(--primary-color);
    color: var(--text-color-white);
}
.btn-gray {
    border-radius: 8px;
    background: var(--text-color-gray-dark);
    box-shadow: 1px 8px 45px 0px rgba(0, 0, 0, 0.25);
}
.btn-primary:hover {
    background-position: 100% 0;
}
/* btn size */
.btn-xl {
    --width: 199px;
    --height: 54px;
}

.color-linear {
    color: transparent;
    background-image: var(--primary-color);
    background-image: var(--primary-color);
    background-clip: text;
    -webkit-background-clip: text;
}

.container {
    --width: 1220px;
    width: var(--width);
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.container-header {
    --width: 1144px;
}
.container-service {
    --width: 1096px;
}
.container-task {
    --width: 1161px;
}
.container-featured {
    --width: 1056px;
}
.section-heading {
    color: var(--text-color-white);
    font-weight: 700;
}
.section-desc {
    color: var(--text-color-gray);
    line-height: 1.5;
}
.badge {
    position: absolute;
    padding: 11px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #27292c;
}
/* ========== Header ================= */
.header {
    padding: 40px 0 20px 0;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__list {
    display: flex;
    align-items: center;
}
.navbar__link {
    position: relative;
    padding: 8px 18px;
    color: var(--text-color-gray);
    font-size: 1.6rem;
    line-height: 1.5;
}
.navbar__link.active {
    color: var(--text-color-white);
}
.navbar__link.active::after {
    position: absolute;
    content: "";
    display: inline-block;
    bottom: 0;
    left: 18px;
    width: 21px;
    height: 2px;
    background: #6aea5c;
}
.navbar__link:hover {
    color: var(--text-color-white);
}
/* ============== Hero =============== */

/* ++++ Hero content ++++ */
.hero {
    margin-top: 69px;
}
.hero__content {
    padding: 0 28px 62px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 33px;
    text-align: center;
}
.hero__decor {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.hero__circle {
    --width: 121px;
    --height: 121px;
    width: var(--width);
    height: var(--height);
    border-radius: 50%;
    background: linear-gradient(
        180deg,
        #111118 4.96%,
        rgba(43, 43, 61, 0) 100%
    );
    box-shadow: 0px 39px 31px 0px #313141 inset;
}
.hero__circle--md {
    margin-top: 41px;
    --width: 39px;
    --height: 39px;
}
.hero__circle--sm {
    margin-top: 36px;
    --width: 25px;
    --height: 25px;
}
.hero__circle--xs {
    margin-top: 39px;
    --width: 14px;
    --height: 14px;
}
.hero__heading {
    position: relative;
    font-size: 6rem;
    line-height: 70px;
}
.hero__heading::after {
    position: absolute;
    bottom: 8px;
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--primary-color-dark-orange);
}

.hero__strong {
    margin-right: 10px;
    position: relative;
    border: 1px dashed #fff;
    background-image: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
}

.hero__point {
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    left: -10px;
    top: -10px;
    border-radius: 50% 50% 0 50%;
    background: var(--primary-color-blue);
}
.hero__point:nth-child(2) {
    left: initial;
    right: -10px;
    top: -10px;
    border-radius: 50% 50% 50% 0;
    background: var(--primary-color-dark-yellow);
}
.hero__point:nth-child(3) {
    left: initial;
    top: initial;
    bottom: -10px;
    right: -10px;
    border-radius: 0 50% 50% 50%;
    background: var(--primary-color-green);
}
.hero__point:last-child {
    top: initial;
    left: -10px;
    bottom: -10px;
    border-radius: 50% 0 50% 50%;
    background: var(--primary-color-dark-orange);
}
.hero__info {
    position: relative;
    top: 62px;
}
.hero__desc {
    width: 447px;
    margin: 34px auto 0;
}
.hero__action {
    margin-top: 44px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
/* ++++ Hero media ++++ */
.hero__media {
    margin-top: 111px;
    padding-bottom: 146px;
}
.hero__dashboard {
    position: relative;
    max-width: 848px;
    margin: 0 auto;
    padding: 18px 15px 0 0;
    border-radius: 8px 8px 0px 0px;
    background: #1f2326;
}
.hero__dashboard::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 154px;
    height: 154px;
    top: 158px;
    right: -66px;
    z-index: -1;
    border-radius: 50%;
    background: linear-gradient(183deg, #8ae764 4.96%, #e99506 100%);
    box-shadow: 0px 39px 31px 0px #113719 inset;
}
.hero__inner {
    display: flex;
}
.hero__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__groupbar {
    padding: 0 32px 0 16px;
}
.hero__line {
    margin-right: 25px;
}
.hero__dash {
    margin-left: 17px;
    color: #98989c;
    font-size: 1.4rem;
    font-weight: 600;
}
.hero__collect {
    padding-left: 16px;
    margin-top: 15px;
    color: var(--text-color-white);
    font-size: 1.4rem;
    font-weight: 600;
}
.hero__list {
    margin-top: 12px;
}
.hero__item {
    padding: 11px 16px;
}
.hero__item.active {
    background: #2b2d2f;
    color: #d5d5d6;
    font-weight: 600;
}

.hero__link {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: var(--text-color-gray);
    font-size: 1.2rem;
}
.hero__link::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 5px;
    background: var(--primary-color-blue);
}

.hero__item:nth-child(2) .hero__link::before {
    background: var(--primary-color-dark-orange);
}

.hero__task {
    margin-top: 10px;
    background: #0d1012;
    padding: 25px 30px;
    flex: 1;
}
.hero__school {
    margin-left: 140px;
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.hero__dot {
    margin-left: auto;
    margin-right: 76px;
}
.hero__circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    background-color: #151a1e;
    border-color: transparent;
}
.hero__title {
    color: var(--text-color-white);
    font-size: 1.4rem;
}
.hero__stat {
    margin-top: 11px;
    column-gap: 53px;
    align-items: flex-start;
}
.hero__list-task {
    flex: 1;
}
.hero__sort {
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
    color: #838386;
    font-size: 1.2rem;
    padding-right: 7px;
}
.hero__checklist {
    margin-top: 6px;
}
.hero__itemcheck {
    padding: 8px 14px;
    border-radius: 10px;
    background: #14181b;
}

.hero__itemcheck + .hero__itemcheck {
    margin-top: 10px;
}
.hero__label {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 32px;
    color: #9ea1a7;
    font-size: 1rem;
    font-weight: 300;
}
.hero__label::before,
.hero__label::after {
    content: "";
    display: inline-block;
}
.hero__label::before {
    width: 14px;
    height: 14px;
    border: 2px solid #9ea1a7;
    border-radius: 5px;
}

.hero__checkbox:checked ~ .hero__label::before {
    border: 2px solid var(--primary-color-green);
}
.hero__checkbox:checked ~ .hero__label::after {
    position: absolute;
    content: url(../icon/checked.svg);
    left: 4.5px;
    top: 50%;
    transform: translateY(-50%);
}
.hero__checkbox--plus:checked ~ .hero__label::before {
    background-color: var(--primary-color-green);
    border: 2px solid var(--primary-color-green);
}
.hero__checkbox--plus:checked ~ .hero__label::after {
    position: absolute;
    content: url(../icon/plus.svg);
    left: 5.5px;
    top: 50%;
    transform: translateY(-50%);
}
.hero__daily-img {
    margin-top: 6px;
    position: relative;
}
.hero__images {
    width: 167px;
    height: 218px;
    object-fit: cover;
    border-radius: 17px;
    background: rgba(13, 16, 18, 0.24);
}
.hero__play-icon {
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: #fffefeb5;
}

.hero__summary {
    position: absolute;
    top: 177px;
    left: -75px;
    padding: 26px 15px;
    border-radius: 15px 15px 22px 22px;
    background: #0d1012;
}
.hero__summary .hero__collect {
    margin: initial;
    padding-left: 10px;
}
.hero__mission {
    margin-top: 21px;
}
.hero__plan {
    padding: 12px 0 12px 12px;
    border-radius: 13px;
    background: #14181b;
}
.hero__plan ~ .hero__plan {
    margin-top: 7px;
}
.hero__block {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 11px;
}

.hero__block::before {
    content: "";
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 12px;
    background: var(--primary-color-dark-orange);
}
.hero__plan:nth-child(2) .hero__block::before {
    background: var(--primary-color-blue);
}
.hero__plan:nth-child(3) .hero__block::before {
    background: var(--primary-color-green, #0cce84);
}
.hero__body .hero__title {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2;
}
.hero__text {
    color: var(--text-color-gray);
    font-size: 1rem;
}
.hero__plan .hero__row {
    justify-content: initial;
}
.hero__progress {
    position: relative;
    margin-right: 8px;
    width: 139px;
    height: 3px;
    background: var(--text-color-dark-blue);
}
.hero__progress::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 32px;
    height: 3px;
    background: var(--primary-color-dark-orange);
}
.hero__plan:nth-child(2) .hero__progress::before {
    background: var(--primary-color-blue);
}
.hero__plan:nth-child(3) .hero__progress::before {
    background: var(--primary-color-green);
}
.hero__circle-mission {
    --width: 89px;
    --height: 89px;
    position: absolute;
    bottom: 73px;
    left: -46px;
    z-index: -1;
}
/* Service */
.service {
    margin-top: 140px;
}
.service__inner {
    border-radius: 27px;
    background: var(--text-color-gray-dark);
    padding: 71px 50px 53px;
}
.service__list {
    display: flex;
    column-gap: 142px;
}
.service-item {
    text-align: center;
}
.service-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: var(--primary-color-green);
}
.service-item:first-child,
.service-item:nth-child(2) {
    position: relative;
}
.service-item:nth-child(2) .service-item__icon {
    background: var(--primary-color-dark-yellow);
}
.service-item:last-child .service-item__icon {
    background: var(--primary-color-blue);
}
.service-item__heading {
    margin-top: 30px;
    font-size: 2.2rem;
    line-height: 32px;
    font-weight: 600;
    color: var(--text-color-white);
}
.service-item__desc {
    margin-top: 5px;
    line-height: 26px;
    color: var(--text-color-gray);
}
.service-item__dash {
    width: 195px;
    top: 31px;
    right: -166px;
    position: absolute;
    border: 1px dashed var(--text-color-gray);
}
/* ======== Task =========== */
.task {
    margin-top: 140px;
}
.task__inner {
    display: flex;
    column-gap: 64px;
}
.task__content {
    width: 46%;
}
.task__heading {
    width: 368px;
    margin-bottom: 22px;
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.25;
}
.task__emphasis {
    background-image: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
}
.task__countdown {
    width: 430px;
    position: relative;
    margin-top: 86px;
    display: flex;
    column-gap: 17px;
}
.task__countdown-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 132px;
    min-height: 127px;
    padding: 0 21px;
    border-radius: 9px;
    background: var(--text-color-dark-blue);
    text-align: center;
}
.task__countdown-item:nth-of-type(2) {
    margin-top: 28px;
}
.task__countdown-item.active {
    background: linear-gradient(
        191.94deg,
        #c4f566 -43.72%,
        #ae8ef9 -5.87%,
        #ef8f00 52.36%,
        #61e559 122.78%
    );
}

.task__countdown-number {
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-color-white);
}
.task__countdown-item.active .task__countdown-text {
    color: var(--text-color-white);
}
.task__countdown-text {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 26px;
    color: var(--text-color-gray);
}
.task__dots {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}
.task__dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--text-color-dark-blue);
    cursor: pointer;
}
.task__dot.active {
    background: var(--primary-color-dark-yellow);
    cursor: default;
}

.task__media {
    position: relative;
    flex: 1;
}
.task__dash {
    --width: 455px;
    --height: 455px;
    position: absolute;
    inset: 0;
    margin: 0 auto;
    width: var(--width);
    height: var(--height);
    border: 2px dashed #2f2f2f;
    border-radius: 50%;
}
.task__dash--sm {
    --width: 336px;
    --height: 336px;
    inset: 0;
    margin: auto;
}
.task__circle {
    --width: 209px;
    --height: 209px;
    position: absolute;
    inset: 0;
    margin: auto;
    width: var(--width);
    height: var(--height);
    border-radius: 50%;
    background: rgba(106, 234, 92, 0.5);
}
.task__circle--sm {
    --width: 135px;
    --height: 134px;
    inset: 0;
    margin: auto;
    background: #6aea5c;
}
.task__rectangle {
    position: absolute;
    display: inline-block;
    width: 150px;
    height: 200px;
    transform: rotate(11.592deg);
    background: #191b1d;
    z-index: -1;
}
.task__rectangle:first-of-type {
    top: 23px;
    left: 43px;
}
.task__rectangle:nth-of-type(2) {
    left: 0;
    bottom: 66px;
}
.task__rectangle:nth-of-type(3) {
    top: 0;
    right: 156px;
    bottom: 299px;
}
.task__rectangle:nth-of-type(4) {
    top: 90px;
    right: 0;
}
.task__rectangle:nth-of-type(5) {
    bottom: 0;
    right: 52px;
}
.task__rectangle:last-of-type {
    bottom: 88px;
    right: 202px;
}
.task__badge:first-child {
    column-gap: 45px;
    top: 62px;
    left: 0;
}
.task__badge:nth-child(2) {
    column-gap: 38px;
    top: 55px;
    right: 43px;
}
.task__badge:nth-child(3) {
    top: 318px;
    left: -43px;
}
.task__badge:last-child {
    column-gap: 67px;
    top: 392px;
    right: 28px;
}
.task__badge-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(89.86deg, #ef8f00 -6.27%, #ff7667 90.08%);
}
.task__badge:nth-child(2) .task__badge-title {
    background-image: linear-gradient(89.93deg, #0cce84 3.45%, #ae8ef9 99.07%);
}
.task__badge:nth-child(3) .task__badge-title {
    margin-left: 15px;
    margin-right: 43px;
    background-image: linear-gradient(
        92.64deg,
        #c4f566 -11.2%,
        #ff6e6e 123.12%
    );
}
.task__badge:last-child .task__badge-title {
    background-image: linear-gradient(
        92.64deg,
        #c4f566 -11.2%,
        #ff6e6e 123.12%
    );
}
.task__badge-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #363a3e;
}
.task__badge-avatar {
    display: flex;
}
.task__avatar-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid transparent;
}
.task__avatar-img:first-child {
    background: linear-gradient(
            90.86deg,
            #c531f9 -1.74%,
            rgba(221, 64, 111, 0.7814) 20.38%,
            rgba(120, 120, 120, 0) 99.45%
        )
        border-box;
}
.task__avatar-img:nth-child(2) {
    margin-left: -10px;
    background: linear-gradient(
            96.04deg,
            #6aea5c 2.41%,
            rgba(219, 125, 96, 0.86475) 18.84%,
            rgba(120, 120, 120, 0) 123.85%
        )
        border-box;
}
/* ======= Featured ============ */
.featured {
    margin-top: 140px;
    padding: 136px 0 81px 0;
}
.featured__inner {
    display: flex;
    column-gap: 75px;
}
.featured__media {
    position: relative;
    display: flex;
    align-items: center;
    width: 46%;
    height: 440px;
}
.featured__blur {
    position: absolute;
    left: 52px;
    top: 94px;
    bottom: 0;
    margin: 0 auto;
    width: 267px;
    height: 267px;
    border-radius: 50%;
    background: linear-gradient(
        180deg,
        #6aea5c 0%,
        #fd7566 48.53%,
        #ef8f00 100%
    );
    filter: blur(66px);
}
.featured__chart {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 7px;
}
.featured__line-wrap {
    display: flex;
    column-gap: 96px;
}
.featured__line {
    --s: 5px;
    width: 1.5px;
    height: 378px;
    background: radial-gradient(circle closest-side, #d0d0d0 100%, #0000) 0 0/100%
            var(--s),
        linear-gradient(#d0d0d0 50%, #0000 0) 0 calc(var(--s) / 2) / 100%
            calc(2 * var(--s));
}
.featured__time-wrap {
    display: flex;
    column-gap: 60px;
}
.featured__time {
    color: #f9f9f999;
    font-size: 1.4rem;
    line-height: 24px;
}

.featured__content {
    flex: 1;
}
.featured__heading {
    max-width: 399px;
    font-size: 4rem;
    font-weight: 600;
    line-height: 50px;
}
.featured__checklist {
    display: grid;
    grid-template-columns: auto auto;
    gap: 22px 35px;
    margin-top: 50px;
}
.featured__item {
    position: relative;
    display: flex;
    column-gap: 23px;
}
.featured__item::before {
    content: "";
    display: inline-block;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border-radius: 7px;
}
.featured__item::after {
    position: absolute;
    content: url(../icon/checked-white.svg);
    top: 1px;
    left: 5px;
}
.featured__item:first-child::before {
    background-color: var(--primary-color-green);
}
.featured__item:nth-child(2)::before {
    background-color: var(--primary-color-dark-yellow);
}
.featured__item:nth-child(3)::before {
    background-color: var(--primary-color-blue);
}
.featured__item:last-child::before {
    background-color: var(--primary-color-dark-orange);
}
.featured__text {
    color: var(--text-color-white);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.2;
}
.featured__desc {
    margin-top: 8px;
    color: var(--text-color-gray);
    font-size: 1.4rem;
    line-height: 24px;
}
.featured__line:first-child,
.featured__line:nth-child(3),
.featured__line:last-child {
    position: relative;
}

.featured__line:first-child .featured__badge:first-child {
    position: absolute;
    top: -31px;
    left: -36px;
    column-gap: 16px;
}
.featured__line:first-child .featured__badge:nth-child(2) {
    position: absolute;
    top: 280px;
    left: -36px;
}

.featured__line:nth-child(3) .featured__badge {
    display: block;
    position: absolute;
    background: #c3ae90;
    top: 110px;
    left: -71px;
    color: #f9f9f9;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 12px 33px;
    text-align: center;
    border-radius: 5px;
}
.featured__line:nth-child(3) .featured__badge::after {
    content: "";
    position: absolute;
    display: inline-block;
    bottom: -29px;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #c3ae90 transparent transparent  ;
}

.featured__line:last-child .featured__badge {
    position: absolute;
    top: 200px;
    left: -82px;
}
.featured__line:first-child
    .featured__badge:first-child
    .featured__badge-title {
    background-image: linear-gradient(91.19deg, #f08d08 1.27%, #b88ed3 78.9%);
}
.featured__line:first-child
    .featured__badge:nth-child(2)
    .featured__badge-title {
    background-image: linear-gradient(90deg, #0cce84 -3.41%, #ff2eb8 103.89%);
}
.featured__line:nth-child(3) .featured__badge .featured__badge-title {
    color: currentColor;
}
.featured__line:last-child .featured__badge .featured__badge-title {
    background-image: linear-gradient(90deg, #fd7566 1.48%, #6aea5c 101.48%);
}

.featured__badge {
    border-radius: 13px;
    padding: 19px 18px;
    background-color: #000000b2;
}

.featured__avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #bdbdbd;
    object-fit: cover;
    border: 1px solid transparent;
}
.featured__badge-title {
    font-size: 1.4rem;
    line-height: 24px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    white-space: nowrap;
}
.feature__badge-percen {
    font-size: 1.4rem;
}