* {
    box-sizing: border-box;
}
:root {
    --primary-color: linear-gradient(90deg, #eb9204, #83e868, #83e868, #eb9204);
    --primary-color-blue: #ae8ff9;
    --primary-color-dark-yellow: #ef8f00;
    --primary-color-green: #0cce84;
    --primary-color-dark-orange: #ff7667;
    --text-color-white: #f9f9f9;
    --text-color-gray: #858b93;
    --text-color-dark-blue: #272633;
    --text-color-gray-dark: #282c30;
}

html {
    font-size: 62.5%;
}
body {
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    background: #131517;
}
/* Common */
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

textarea,
label,
input,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
.btn {
    --width: 110px;
    --height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: var(--width);
    height: var(--height);
    border-radius: 8px;
    background: #131517;
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
    line-height: 1.5;
    color: var(--text-color-white);
    background-size: 300% 100%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.btn:hover {
    background-color: #83e868;
}
.btn-outline-primary {
    border: 1px solid var(--text-color-dark-blue);
    color: transparent;
    background-image: var(--primary-color);
    background-image: var(--primary-color);
    background-clip: text;
    -webkit-background-clip: text;
}
.btn-outline-primary:hover {
    border: 1px solid #83e868;
}
.btn-primary {
    background-image: var(--primary-color);
    color: var(--text-color-white);
}
.btn-gray {
    border-radius: 8px;
    background: var(--text-color-gray-dark);
    box-shadow: 1px 8px 45px 0px rgba(0, 0, 0, 0.25);
}
.btn-primary:hover {
    background-position: 100% 0;
}
/* btn size */
.btn-xl {
    --width: 199px;
    --height: 54px;
}

.color-linear {
    color: transparent;
    background-image: var(--primary-color);
    background-image: var(--primary-color);
    background-clip: text;
    -webkit-background-clip: text;
}

.container {
    --width: 1220px;
    width: var(--width);
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.container-header {
    --width: 1144px;
}

.section-heading {
    color: var(--text-color-white);
    font-weight: 700;
}
.section-desc {
    color: var(--text-color-gray);
    line-height: 1.5;
}
/* ========== Header ================= */
.header {
    padding: 40px 0 20px 0;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__list {
    display: flex;
    align-items: center;
}
.navbar__link {
    position: relative;
    padding: 8px 18px;
    color: var(--text-color-gray);
    font-size: 1.6rem;
    line-height: 1.5;
}
.navbar__link.active {
    color: var(--text-color-white);
}
.navbar__link.active::after {
    position: absolute;
    content: "";
    display: inline-block;
    bottom: 0;
    left: 18px;
    width: 21px;
    height: 2px;
    background: #6aea5c;
}
.navbar__link:hover {
    color: var(--text-color-white);
}
/* ============== Hero =============== */

/* ++++ Hero content ++++ */
.hero {
    margin-top: 69px;
}
.hero__content {
    padding: 0 28px 62px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 33px;
    text-align: center;
}
.hero__decor {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.hero__circle {
    --width: 121px;
    --height: 121px;
    width: var(--width);
    height: var(--height);
    border-radius: 50%;
    background: linear-gradient(
        180deg,
        #111118 4.96%,
        rgba(43, 43, 61, 0) 100%
    );
    box-shadow: 0px 39px 31px 0px #313141 inset;
}
.hero__circle--md {
    margin-top: 41px;
    --width: 39px;
    --height: 39px;
}
.hero__circle--sm {
    margin-top: 36px;
    --width: 25px;
    --height: 25px;
}
.hero__circle--xs {
    margin-top: 39px;
    --width: 14px;
    --height: 14px;
}
.hero__heading {
    position: relative;
    font-size: 6rem;
    line-height: 70px;
}
.hero__heading::after {
    position: absolute;
    bottom: 8px;
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--primary-color-dark-orange);
}

.hero__strong {
    margin-right: 10px;
    position: relative;
    border: 1px dashed #fff;
}

.hero__point {
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    left: -10px;
    top: -10px;
    border-radius: 50% 50% 0 50%;
    background: var(--primary-color-blue);
}
.hero__point:nth-child(2) {
    left: initial;
    right: -10px;
    top: -10px;
    border-radius: 50% 50% 50% 0;
    background: var(--primary-color-dark-yellow);
}
.hero__point:nth-child(3) {
    left: initial;
    top: initial;
    bottom: -10px;
    right: -10px;
    border-radius: 0 50% 50% 50%;
    background: var(--primary-color-green);
}
.hero__point:last-child {
    top: initial;
    left: -10px;
    bottom: -10px;
    border-radius: 50% 0 50% 50%;
    background: var(--primary-color-dark-orange);
}
.hero__info {
    position: relative;
    top: 62px;
}
.hero__desc {
    width: 447px;
    margin: 34px auto 0;
}
.hero__action {
    margin-top: 44px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
/* ++++ Hero media ++++ */
.hero__media {
    margin-top: 111px;
}
.hero__dashboard {
    position: relative;
    max-width: 848px;
    margin: 0 auto;
    padding: 18px 15px 0 0;
    border-radius: 8px 8px 0px 0px;
    background: #1f2326;
}
.hero__dashboard::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 154px;
    height: 154px;
    top: 158px;
    right: -66px;
    z-index: -1;
    border-radius: 50%;
    background: linear-gradient(183deg, #8ae764 4.96%, #e99506 100%);
    box-shadow: 0px 39px 31px 0px #113719 inset;
}
.hero__inner {
    display: flex;
}
.hero__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__groupbar {
    padding: 0 32px 0 16px;
}
.hero__line {
    margin-right: 25px;
}
.hero__dash {
    margin-left: 17px;
    color: #98989c;
    font-size: 1.4rem;
    font-weight: 600;
}
.hero__collect {
    padding-left: 16px;
    margin-top: 15px;
    color: var(--text-color-white);
    font-size: 1.4rem;
    font-weight: 600;
}
.hero__list {
    margin-top: 12px;
}
.hero__item {
    padding: 11px 16px;
}
.hero__item.active {
    background: #2b2d2f;
    color: #d5d5d6;
    font-weight: 600;
}

.hero__link {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: var(--text-color-gray);
    font-size: 1.2rem;
}
.hero__link::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 5px;
    background: var(--primary-color-blue);
}

.hero__item:nth-child(2) .hero__link::before {
    background: var(--primary-color-dark-orange);
}

.hero__task {
    margin-top: 10px;
    background: #0d1012;
    padding: 25px 30px;
    flex: 1;
}
.hero__school {
    margin-left: 140px;
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.hero__dot {
    margin-left: auto;
    margin-right: 76px;
}
.hero__circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    background-color: #151a1e;
    border-color: transparent;
}
.hero__title {
    color: var(--text-color-white);
    font-size: 1.4rem;
}
.hero__stat {
    margin-top: 11px;
    column-gap: 53px;
    align-items: flex-start;
}
.hero__list-task {
    flex: 1;
}
.hero__sort {
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
    color: #838386;
    font-size: 1.2rem;
    padding-right: 7px;
}
.hero__checklist {
    margin-top: 6px;
}
.hero__itemcheck {
    padding: 8px 14px;
    border-radius: 10px;
    background: #14181b;
}

.hero__itemcheck + .hero__itemcheck {
    margin-top: 10px;
}
.hero__label {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 32px;
    color: #9ea1a7;
    font-size: 1rem;
    font-weight: 300;
}
.hero__label::before,
.hero__label::after {
    content: "";
    display: inline-block;
}
.hero__label::before {
    width: 14px;
    height: 14px;
    border: 2px solid #9ea1a7;
    border-radius: 5px;
}

.hero__checkbox:checked ~ .hero__label::before {
    border: 2px solid var(--primary-color-green);
}
.hero__checkbox:checked ~ .hero__label::after {
    position: absolute;
    content: url(../icon/checked.svg);
    left: 4.5px;
    top: 50%;
    transform: translateY(-50%);
}
.hero__checkbox--plus:checked ~ .hero__label::before {
    background-color: var(--primary-color-green);
    border: 2px solid var(--primary-color-green);
}
.hero__checkbox--plus:checked ~ .hero__label::after {
    position: absolute;
    content: url(../icon/plus.svg);
    left: 5.5px;
    top: 50%;
    transform: translateY(-50%);
}
.hero__daily-img {
    margin-top: 6px;
    position: relative;
}
.hero__images {
    width: 167px;
    height: 218px;
    object-fit: cover;
    border-radius: 17px;
    background: rgba(13, 16, 18, 0.24);
}
.hero__play-icon {
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: #fffefeb5;
}

.hero__summary {
    position: absolute;
    top: 177px;
    left: -75px;
    padding: 26px 15px;
    border-radius: 15px 15px 22px 22px;
    background: #0d1012;
}
.hero__summary .hero__collect {
    margin: initial;
    padding-left: 10px;
}
.hero__mission {
    margin-top: 21px;
}
.hero__plan {
    padding: 12px 0 12px 12px;
    border-radius: 13px;
    background: #14181b;
}
.hero__plan ~ .hero__plan {
    margin-top: 7px;
}
.hero__block {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 11px;
}

.hero__block::before {
    content: "";
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 12px;
    background: var(--primary-color-dark-orange);
}
.hero__plan:nth-child(2) .hero__block::before {
    background: var(--primary-color-blue);
}
.hero__plan:nth-child(3) .hero__block::before {
    background: var(--primary-color-green, #0cce84);
}
.hero__day .hero__title {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2;
}
.hero__text {
    color: var(--text-color-gray);
    font-size: 1rem;
}
.hero__plan .hero__row {
    justify-content: initial;
}
.hero__progress {
    position: relative;
    margin-right: 8px;
    width: 139px;
    height: 3px;
    background: var(--text-color-dark-blue);
}
.hero__progress::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 32px;
    height: 3px;
    background: var(--primary-color-dark-orange);
}
.hero__plan:nth-child(2) .hero__progress::before {
    background: var(--primary-color-blue);
}
.hero__plan:nth-child(3) .hero__progress::before {
    background: var(--primary-color-green);
}
.hero__circle-mission {
    --width: 89px;
    --height: 89px;
    position: absolute;
    bottom: 73px;
    left: -46px;
    z-index: -1;
}
